extends _base

block styles
	link(href="styles/app.css", type="text/css", rel="stylesheet")
	link(href="scripts/vendor/chosen/chosen.css", type="text/css", rel="stylesheet")
	link(href="bower_components/leaflet/dist/leaflet.css", type="text/css", rel="stylesheet")
	// if lt IE8
		link(href="bower_components/leaflet/dist/leaflet.ie.css", type="text/css", rel="stylesheet")

block scripts
	script(src="https://maps.googleapis.com/maps/api/js?key=&sensor=true")
	script(src="scripts/vendor/chosen/chosen.jquery.js")
	script(src="bower_components/leaflet/dist/leaflet-src.js")
	script(src="bower_components/async/lib/async.js")
	script(src="scripts/vendor/d3.v3/d3.v3.js")

	script(src="scripts/main.js")
	//- script(src="scripts/http.js")
	//- script(src="scripts/settings.js")
	//- script(src="scripts/choropleth-swatches.js")
	//- script(src="scripts/classes/barchart.js")
	//- script(src="scripts/classes/colormap.js")
	//- script(src="scripts/classes/polygon.js")
	//- script(src="scripts/classes/feature.js")
	//- script(src="scripts/classes/feature2d.js")
	//- script(src="scripts/classes/industrialpolygon.js")
	//- script(src="scripts/classes/convertedpolygon.js")
	//- script(src="scripts/classes/multipolygoncollection.js")
	//- script(src="scripts/ILC.js")
	//- script(src="scripts/app-init.js")


mixin infobox(doc_hash, text)
	|  
	a(href="/documentation/#"+doc_hash, class="infobox", title=text, target="documentation", style="opacity: 0.5;") [?]

block body
	//- div.controls
		//- a.reset(href="#") reset

	.container
		#leaflet-map

		.panel-container
			#legends-and-colormaps.togglable-panel

				.collapsed
					a.expand(href="#")
						i.icon-list

				.expanded
					#colormap-picker.padded
						.content
							h3 colormaps
							| levels:
							select.num-bins
								option(value=3) 3
								option(value=4) 4
								option(value=5, selected) 5
								option(value=6) 6
							br
							| splits:
							select.segmentation
								option(value="linear", selected) linear
								option(value="quantile") quantile
							.colormaps

					#legend.padded
						//- h3.align-center legend

						.legend-container.industrial-parcels.active

							.main-legend
								h4.title Probability of conversion<br/>from Industrial
								.colormap
								.align-center
									button(data-toggle="button", class="btn btn-mini toggle-colormaps") Show colormap picker
						.legend-container.converted-parcels
							h4.title Already converted
							ul.legend
						.other-legends
							h4.title Other
							.legend-container.brownfields
								ul.legend
									li.color(style="background: brown")
									li.label Impaired Parcels
						.raster-legends
							img.raster-legend(src="data/meck/tiles/corridors-wedges/legend.png", data-id="corridors-wedges")
							img.raster-legend(src="data/meck/tiles/planned-improvements/legend.png", data-id="planned-improvements")
							img.raster-legend(src="data/cook/tiles/capital-improvements/legend.png", data-id="capital-improvements")
							img.raster-legend(src="data/cook/tiles/concept/legend.png", data-id="concept")
							img.raster-legend(src="data/cook/tiles/rail/legend.png", data-id="rail")

						a.collapse(href="#") &times;


		.panel-container
			#graphs.togglable-panel
				.expanded
					.block.pies
						#race-pie.pie
							.graph-title Neighbors
								+infobox('neighbors', "For each parcel, the racial composition of residents within 1 mile radius is displayed.")
							.graph
							ul.legend.small
								//- auto
						#occupation-pie.block.pie
							.graph-title Occupation
								+infobox('occupation', "For each parcel, the occupational composition of workers within 5 mile radius is displayed.")
							.graph
							ul.legend.small
								//- auto
					.block.right
						#naics-trends-graph
							.info
								.graph-title Employment Trends
									+infobox('employment-trends', "Using BLS data, employment trends in the industry in the US is displayed relative to 1990. Also of interest are the trends in manufacturing, the trends in the industry in the county.")
								.naics-title 
								//- auto
								a.naics-filter-select(href="") (set as industry filter)
								.legend
									.item.ind-county
										.line
										|County 
										span.naics
									.item.ind-state
										.line
										| State Mfg.
									.item.mfg-state 
										.line
										| USA 
										span.naics
						#risk-histogram
							.graph-title Probability Distribution
								+infobox('probability-distribution', "The histogram of the risk in the neighbourhood of a selected parcel is displayed. The location of the selected parcel relative to its neighbourhood is highlighted.")
					a.collapse(href="#") &times;
				.collapsed
					a.expand(href="#")
						i.icon-tasks
		

		.panel-container	
			#debug-stats.off
			#feature-limit
				
				
		.panel-container
			.main-control-container.togglable-panel
				.expanded
					h2 controls

					h4.meck-only Probability
						+infobox('probability-of-conversion', "A logit model that uses various explanatory variables are used to project the probability of conversion of an industrial Parcel.")
					section#value-picker.meck-only
						select.risk-select
							option(value="risk_main", selected) Any
							option(value="risk_res") Residential
							option(value="risk_com") Commercial

					h4 Vector Layers
					section#vector-picker
						div.vector-choices.btn-group.btn-group-vertical(data-toggle="buttons-checkbox")
							button.btn.btn-small.active(data-id="industrial-parcels") Industrial Parcels
								+infobox('industrial-parcels', "Cadastral data that have industrial (NAICS 31-33) establishments in 2010.")
							button.btn.btn-small(data-id="converted-parcels") Converted Parcels
								+infobox('converted-parcels', "Cadastral data that have industrial (NAICS 31-33) establishments sometime between 2000-2010 but by 2010 no longer have an establishment and land use is coded as a non-industrial use.")
							button.btn.btn-small(data-id="brownfields") Impaired Parcels
								+infobox('brownfields', "Sites that are complicated by the presence or potential presence of a hazardous substance, pollutant, or contaminant.")

					h4 Raster Layers
					section#raster-picker
						div.raster-choices
							label.choice.meck-only
								input(type="radio", name="raster_selection", value="corridors-wedges", data-id="corridors-wedges", data-fmt="png") 
								span Corridors & Wedges
									+infobox('corridors-wedges', "The \"Centers and Corridors\" development framework was originally introduced in 1994 and is the City of Charlotte's adopted overarching policy for organizing and guiding growth and development within the City of Charlotte.")
							label.choice.meck-only
								input(type="radio", name="raster_selection", value="planned-improvements", data-id="planned-improvements", data-fmt="jpg")
								span Planned Improvements
									+infobox('planned-improvements', "Planned transportation improvements from the Mecklenburg-Union MPO.")

							label.choice.cook-only
								input(type="radio", name="raster_selection", value="capital-improvements", data-id="capital-improvements", data-fmt="png")
								span Capital Improvements
									+infobox('capital-improvements', "This map explains specific transportation improvement projects for Chicago, Cook County, and the Northeastern Illinois Metropolitan Area. It was adapted from the CMAP 2030 Regional Transportation Plan adopted in 2008.")
							label.choice.cook-only
								input(type="radio", name="raster_selection", value="concept", data-id="concept", data-fmt="png")
								span Concept 2030
									+infobox('concept-2030', "This map explains the overall vision for future development intensity, infill, and transportation improvements for Chicago, Cook County, and the Northeastern Illinois Metropolitan Area. It was adapted from the CMAP 2030 Regional Transportation Plan adopted in 2008.  ")
							label.choice.cook-only
								input(type="radio", name="raster_selection", value="rail", data-id="rail", data-fmt="png")
								span Rail Improvements
									+infobox('rail-improvements', "This map explains specific rail improvement projects for the City of Chicago. It was adapted from the CMAP 2030 Regional Transportation Plan adopted in 2008.")


							button.btn.btn-small(data-id="", class="clear-all") Clear

					h4 Industry Filter
						+infobox('', "Filter to industry to limit the visible tracts.\n\nSpecific (NAICS 4) choices are shown, but the filter will only apply to its more generic (NAICS 3) category")
					section#industry-picker
						select.industry-select(data-placeholder="Filter by Industry")
							option(value="") 
						//- label
						//- 	input(type="radio", name="raster-name", value="") 
						//- 	span None
						//- label 
						//- 	input(type="radio", name="raster-name", value="corridors-wedges")
						//- 	span Corridors Wedges
						//- label
						//- 	input(type="radio", name="raster-name", value="planned-improvements")
						//- 	span Planned Improvements

					h4 Zoom to Address
					section#address-picker
						form.address-form
							input.address(type="text", placeholder="Enter an address")
							input(type="submit", value="Go")

					a.collapse(href="#") &times;
				.collapsed
					a.expand(href="#")
						i.icon-th-large

	#control-panels(style="display: none;")
